.mapWrapper {
  background-color: #3e3e46;
}

.map {
  overflow: hidden;

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.sphere {
  path {
    fill: #43506a;
  }
}

.land {
  path {
    fill: #62849f;
    stroke: rgba(#43506a, 0.4);
    stroke-width: 1px;
  }
}

.places {
  circle {
    stroke: rgba(white, 0.7);
    stroke-width: 2px;
    opacity: 0.8;
  }
}
