.icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  fill: var(--color-icon);

  &--success {
    fill: var(--success);
  }
  &--danger {
    fill: var(--danger);
  }
  &--disabled {
    fill: rgba(black, 0.15);
  }
  &--light {
    fill: var(--gray-300);
  }
  &--gray {
    fill: var(--gray-500);
  }

  &--loading {
    animation: rotating 0.5s steps(8, end) infinite;
  }

  &--small {
    width: 10px;
    height: 10px;
  }
  &--medium {
    width: 16px;
    height: 16px;
  }
  &--big {
    width: 24px;
    height: 24px;
  }
  &--bigger {
    width: 64px;
    height: 64px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
