.input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 0.5rem;
  min-width: 10px;
  color: inherit;
  background-color: transparent;
  border: 1px solid rgba(white, 0.1);
  border-radius: 3px;

  &:hover,
  &:focus {
    background-color: rgba(black, 0.1);
    border: 1px solid rgba(white, 0.8);
    outline: none;
  }

  &::placeholder {
    color: rgba(white, 0.8);
  }
}
