.card {
  font-family: var(--font-family-sans);
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 0;
  margin-top: auto;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  max-height: 70vh;
  color: #34343a;
  background-color: #f3f3f3;
  animation: hi 0.6s forwards;

  &:before {
    content: '';
    position: absolute;
    inset: 0 0 auto;
    height: 1px;
    background-color: rgba(white, 0.1);
  }

  .top {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  h2 {
    font-family: var(--font-family-serif);
    font-size: 1.8em;
    font-weight: lighter;
    line-height: 1.25;
    margin: 0;
    padding: 0;
  }

  .date {
    font-family: var(--font-family-monospace);
    font-size: 1em;
    text-align: center;
    padding: 0.5rem 0;
    color: white;
    border-radius: 2px;
  }
}

.cross {
  & > span {
    &::before,
    &::after {
      background-color: #34343a;
    }
  }
}

@keyframes hi {
  from {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes squeeze {
  from {
    transform: scale(1, 20);
  }
  to {
    transform: scale(1, 1);
  }
}
