$padding: calc(.5vw + 2rem);
$bg: #555562f2;

.card {
  font-family: Georgia, Times, serif;
  font-size: 16px;
  position: absolute;
  z-index: 2;
  top: 6vw;
  left: 6vw;
  padding: 0;
  width: 500px;
  max-width: calc(100vw - 6vw * 2);
  max-height: calc(100vh - 6vw);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba($bg, .95);
  border-radius: 2px;
  box-shadow: 0 0 60px rgba(black, .3);

  a {
    color: white;
  }

  .top {
    display: flex;
    position: sticky;
    z-index: 11;
    justify-content: flex-end;
    top: 0;
    margin: 0;
    padding: 0 1rem;
    background-color: rgba($bg, 1);
    box-shadow: 0 15px 30px rgba(black, .05);

    & > span {
      padding: 1rem;
      cursor: pointer;

      & > span {
        display: block;
        position: relative;
        width: .25rem;
        height: 1.25rem;
        transition: transform .2s ease-out;
        
        &::before, &::after {
          content: '';
          position: absolute;
          inset: 0;
          background-color: white;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }

      &:hover {
        & > span {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 400;
    margin: $padding 0 1rem;
    padding: 0 $padding;
  }

  .date {
    font-size: 1.2em;
    text-align: center;
    margin: 0 $padding;
    padding: .5rem 0;
    color: white;
  }

  .body {
    line-height: 1.3;
    margin: 0;
    padding: 1rem $padding;
    box-shadow: 0 15px 30px rgba(black, .1);

    p {
      margin: .5rem 0;
    }

    .source {
      display: flex;
      margin: 2rem 0;
      gap: 1rem;
      
      &:before {
        content: '--';
        white-space: nowrap;
        flex-shrink: 0;
        opacity: .5;
      }
    }
  }

  ul {
    list-style-type: none;
    line-height: 1.6;
    margin: $padding 0;
    padding: 0 $padding;
    opacity: .7;
  }
}