.card {
  font-size: 16px;
  position: absolute;
  z-index: 4;
  top: 36.98px;
  left: 1rem;
  width: var(--card-width);
  max-width: calc(100vw - 6vw * 2);
  max-height: calc(100vh - 36.98px - 43.8px);
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-text);
  background-color: rgba(white, 0.9);
  border-radius: 2px;
  box-shadow: var(--shadow);

  .top {
    display: flex;
    position: sticky;
    z-index: 6;
    justify-content: flex-end;
    top: 0;
    margin: 0;
    padding: 0 1rem 0;
    background-color: #ededed;

    & > span {
      padding: 1rem;
    }
  }

  h2 {
    font-family: inherit;
    font-family: var(--font-family-serif);
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1rem;
    padding: 0 var(--card-padding);
  }

  .date {
    font-family: var(--font-family-serif);
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
    color: white;
  }
}
