.body {
  p {
    margin: 0 0 0.5rem;
  }

  .source {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;

    &:before {
      content: '--';
      white-space: nowrap;
      flex-shrink: 0;
      opacity: 0.5;
    }
  }
}
