.bottom {
  padding: 1rem 0 1rem;
  border-top: 1px solid rgba(white, 0.1);

  ul {
    list-style-type: none;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li {
      flex: 0 0 50%;
    }
  }
}
