@import 'theme';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.2;
  margin: 0;
  color: var(--color-negative-text);
  background-color: #43434c;
}

h2 {
  padding: 0 0.8rem;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #3776cde6;

  &:active {
    color: var(--color-text);
  }
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: #666;
  }
}
