.panel {
  display: flex;
  flex-direction: column;

  &.open {
    min-height: calc(2em + 1rem);
  }
}

.top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0 0 0.25rem 1rem;
  cursor: pointer;

  h4 {
    font-family: var(--font-family-serif);
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0;
  }

  &::after {
    content: '';
    flex-grow: 1;
    border-bottom: 1px solid rgba(white, 0.1);
  }
}

.content {
  margin-left: 1rem;
  padding-top: 0.25rem;
  padding-right: 1rem;
  min-height: calc(1em + 0.5rem);
  //max-height: 140px;
  overflow-y: auto;
}

.standalone {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0.5rem;
  left: 0.5rem;
  width: 420px;

  .content {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    max-height: none;
    overflow: visible;
  }
}
