.canvas {
  padding: .4rem;
}
.item {
  display: flex;
  gap: .4rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .4rem;

  & > * {
    flex: 1 1 100%;
    align-items: center;
    padding: .2rem .4rem;
    background-color: #efefef;
  }
}