.item {
  display: flex;
  position: absolute;
  flex-direction: column;
  max-height: 60px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    z-index: 2;

    .item_wrapper {
      &::after {
        opacity: 1;
      }
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px yellow;
  }

  &.highlight {
    z-index: 1;

    .item_wrapper {
      outline: 2px solid white;
    }
  }

  &_wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: #333;
    border-radius: 2px;

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(black, 0.2);
      border-radius: 2px;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
  }

  &_name {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
    padding: 0 0.25rem;
    user-select: none;
  }

  &_set-- {
    &macedon > * {
    }
    &athens > * {
    }
    &other-greek-states > * {
    }
    &rome > * {
    }
    &seleucus > * {
    }
    &egypt > * {
    }
    &sparta > * {
    }
  }
}
