.set- {
  &macedon > * {
    background-color: beige;
  }
  &athens > * {
    background-color: skyblue;
  }
  &other-greek-states > * {
    background-color: green;
  }
  &rome > * {
    background-color: orange;
  }
  &seleucus > * {
    background-color: red;
  }
  &egypt > * {
    background-color: violet;
  }
  &sparta > * {
    background-color: blue;
  }
}