.item {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transition: var(--transition);
  cursor: pointer;
  width: 0;
  height: 0;

  &:hover,
  &:focus {
    z-index: 3;
  }

  &:focus {
    z-index: 3;
    outline: none;

    .name {
      border-radius: 2px;
      box-shadow: inset 0 0 0 1px yellow, 0 0 0 1px yellow !important;
    }
  }

  &.highlight {
    z-index: 2;

    .name {
      // background-color: white;
      border-radius: 2px;
      box-shadow: inset 0 0 0 2px white;
    }

    // .bg {
    //   box-shadow: 0 0 3px 1px rgba(white, 0.5);

    //   &::after {
    //     content: '';
    //     position: absolute;
    //     inset: 0;
    //     border-radius: 2px;
    //     box-shadow: inset 0 0 3px 1px rgba(white, 0.9);
    //   }
    // }
  }

  &.hide {
    z-index: 1;
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }

  .bg {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    overflow: hidden;
    border-radius: 2px;
    transform-origin: 0 0;
    transition: var(--transition);

    .inner {
      position: absolute;
      top: 0;
      height: 100%;
      min-width: 1px;
      opacity: 0.5;

      &.short {
        opacity: 1;
      }
    }
  }

  .name {
    text-align: center;
    white-space: nowrap;
    display: flex;
    position: absolute;
    position: absolute;
    z-index: 1;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 0.3rem;
    height: calc(100% - 1px);
    min-width: calc(100% - 1px);
    transition: var(--transition);
    user-select: none;

    svg {
      width: 14px;
      height: 14px;
      opacity: 0.6;
      fill: white;
    }
  }
}
