.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 0.5rem 0;

  .title {
    font-family: var(--font-family-serif);
    font-size: 1.6rem;
    font-weight: inherit;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0 0 0.75rem;
    padding: 0;

    span {
      opacity: 0.5;
    }
  }

  .status {
    font-family: var(--font-family-monospace);
    margin: 0;
    opacity: 0.5;
  }
}

.main {
  display: flex;
  flex-grow: 1;
}

aside {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 380px;
  max-height: 100%;
  background-color: rgba(white, 0.05);
  border-left: 1px solid rgba(white, 0.1);

  .places {
    flex: 1 1 auto;
    height: 10px;
  }

  .map {
    margin-top: auto;
    border-top: 1px solid rgba(white, 0.1);

    & > * {
      margin: 0;
      padding: 0;
      max-height: none;
      overflow: hidden;
    }
  }
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 0.5rem;
}
