.board {
  display: flex;
  flex-grow: 1;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 0.5rem 0;

  .title {
    font-family: var(--font-family-serif);
    font-size: 1.6rem;
    font-weight: inherit;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0.5rem 0;

    span {
      opacity: 0.5;
    }
  }

  .status {
    font-family: var(--font-family-monospace);
    margin: 0;
    opacity: 0.5;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

aside {
  display: flex;
  position: relative;
  flex: 0 0 calc(max(240px, 20vw));
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  justify-content: flex-start;
  height: 100vh;
  max-height: 100%;
  background-color: rgba(white, 0.05);
  border-left: 1px solid rgba(white, 0.1);

  // .places {
  //   flex: 1 1 auto;
  //   height: 10px;
  // }

  .highlight {
    flex-shrink: 0;
  }
}

.asidePanelFixed {
  flex: 0 1 auto;
}

.asidePanel {
  overflow: hidden;

  &.open {
    background-color: red;
  }
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 0.5rem;
}

footer {
  display: flex;
  height: calc(max(20vh, 120px));
  max-width: 100%;
  overflow: hidden;
  background-color: rgba(white, 0.05);
  border-top: 1px solid rgba(white, 0.1);

  & > * {
    flex: 0 1 500px;
  }
}

.map {
  position: relative;
  flex-shrink: 0;
  right: 0;
  bottom: 0;
  margin-top: auto;
  overflow: hidden;
  border-top: 1px solid rgba(white, 0.1);

  & > * {
    margin: 0;
    padding: 0;
    max-height: none;
    overflow: hidden;
  }
}
