.categories {
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;

  & > * {
    padding: 0.25rem;
    border: 1px solid rgba(white, 0.1);
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    margin: 0.5rem 0;

    & > span {
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 0.25rem;
      width: 1rem;
      height: 1rem;
      background-color: grey;
      border-radius: 2px;
    }
  }
}
