.cross {
  padding: 0;
  cursor: pointer;

  & > span {
    display: block;
    position: relative;
    margin: 0 0.7rem;
    width: calc(0.05rem);
    height: calc(1.5rem);
    transition: all 0.2s ease-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: white;
      opacity: 0.37;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-out;
    }
    &::before {
      transform: rotate(90deg);
    }
    &::after {
      transform: rotate(-90deg);
    }
  }

  &.lightTheme {
    & > span {
      &::before,
      &::after {
        background-color: white;
      }
    }
  }

  &:hover {
    & > span {
      transform: scale(1);
      &::before {
        transform: rotate(45deg);
        opacity: 1;
      }
      &::after {
        transform: rotate(-45deg);
        opacity: 1;
      }
    }
  }
}
