.cross {
  padding: 0;
  cursor: pointer;

  & > span {
    display: block;
    position: relative;
    margin: 0 0.5rem;
    width: calc(0.1rem);
    height: calc(1rem);

    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: white;
      border-radius: 2px;
      opacity: 0.6;
      transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &.lightTheme {
    & > span {
      &::before,
      &::after {
        background-color: white;
      }
    }
  }

  &:hover {
    & > span {
      &::before {
        transform: rotate(45deg);
        opacity: 0.9;
      }
      &::after {
        transform: rotate(-45deg);
        opacity: 0.9;
      }
    }
  }
}
