.cross {
  padding: 0 0.5rem;
  cursor: pointer;

  & > span {
    display: block;
    position: relative;
    width: 0.25rem;
    height: 1.25rem;
    transition: var(--transition-ui);

    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--color-text);
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &.lightTheme {
    & > span {
      &::before,
      &::after {
        background-color: white;
      }
    }
  }

  &:hover {
    & > span {
      transform: scale(1.2, 1.2);
    }
  }
}
